body, html {
margin:0px;
padding:0px;
height: 100%;
font-family:Arial, Helvetica, sans-serif, "Times New Roman";
}

#conteiner header {
  display: block;
  border-bottom:#cacaca 1px solid;
  box-shadow: 0px 0px 1px 0px #cacaca;
  width:100%;
  position:fixed;
  height:53px;
  background-color:#ffffff;
}


.clear{width:100%;
	clear:both;}

@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }

* html #conteiner{
height: 100%;
}

#conteiner {
min-height: 100%;
}


#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:1050px;
height:51px;
}

#conteiner header .wrapper nav{
margin:0px;
float:left;
width:30%;
}

#conteiner header .wrapper nav ul{
margin-top:18px;
margin-left:-42px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:left;
color:#2185c4;
}

#conteiner header .wrapper nav ul li:last-child{
padding-left:30px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
font-size:103%;
display:block;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* Гарнитура шрифта */
 src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* Гарнитура шрифта */
 src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .comm{
float:left;
width:39%;
text-align:center;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:230%;
margin-top:1px;
}

#conteiner header .wrapper .telegram{
float:right;
width:30%;
height:70px;
}

#conteiner header .wrapper .telegram div{
float:right;
}

#conteiner header .wrapper .telegram div a:last-child{
display:block;
float:right;
margin-top:10px;
margin-right:10px;
}

#conteiner header .wrapper .telegram div a:first-child:hover{
text-decoration:underline;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-top:18px;
display:block;
float:right;
text-decoration:none;
color:#2185c4;
font-size:102%;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .telegram div a:last-child:hover{
text-decoration:underline;
}
/*шапка сайта*/



/*Create your community here*/
#conteiner #communities{
padding-top:100px;
width:900px;
margin:0 auto;
text-align:center;
}

#conteiner #communities div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:160%;
}

#conteiner #communities div {
text-align:center;
}


/*контент*/
#conteiner #crossplatform{
width:1050px;
margin:50px auto 0;
text-align:center;
}

#conteiner #crossplatform .android{
float:left;
border-radius:10px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
padding:15px 15px;
}

#conteiner #crossplatform .android div{
text-align:center;
}

#conteiner #crossplatform .android:hover{
background-color:#2185c4;
cursor:pointer;
}

#conteiner #crossplatform .android:hover > div:last-child span{
background-color:#2185c4;
cursor:pointer;
color:#ffffff;
}

#conteiner #crossplatform .android div div span{
text-align:center;
margin-top:10px;
color:#757575;
font-size:150%;
display:block;
}

#conteiner #crossplatform .android div span:hover{
color:#ffffff;
}

#conteiner #crossplatform a .IPhoneIPad{
float:left;
padding:15px 17px 15px 10px;
margin-left:35px;
border-radius:10px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
}

#conteiner #crossplatform a .IPhoneIPad {
display: block; /* Ссылка как блочный элемент */
text-decoration:none;
color:ffffff;
}


#conteiner #crossplatform a:hover .IPhoneIPad  div span{
color:ffffff;
}

#conteiner #crossplatform a .IPhoneIPad:hover{
background-color:#2185c4;
cursor:pointer;
}

#conteiner #crossplatform a .IPhoneIPad:hover > div span{
background-color:#2185c4;
cursor:pointer;
color:#ffffff;
}

#conteiner #crossplatform a{
text-decoration:none;
}


#conteiner #crossplatform a .IPhoneIPad div div span{
color:#2185c4;
font-size:150%;
display:block;
margin-top:10px;
}

#conteiner #crossplatform a .IPhoneIPad div{
text-align:center;
}

#conteiner #crossplatform a .IPhoneIPad div img{
margin-left:5px;
}

#conteiner #crossplatform .WindowsPhone{
float:right;
padding:15px 15px;
border-radius:10px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
}

#conteiner #crossplatform .WindowsPhone div{
text-align:center; 
}

#conteiner #crossplatform .WindowsPhone:hover{
background-color:#2185c4;
cursor:pointer;
}

#conteiner #crossplatform .WindowsPhone:hover > div div:last-child span{
background-color:#2185c4;
cursor:pointer;
color:#ffffff;
}

#conteiner #crossplatform .WindowsPhone div div:last-child span{
color:#757575;
font-size:150%;
display:block;
margin-top:10px;
text-align:center;
}

#conteiner #platform{
padding-top:50px;
width:900px;
margin:0 auto;
text-align:center;
}

#conteiner #platform div span {
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
color:#000000;
font-size:200%;

}

#conteiner #platform div {
text-align:center;
}

#conteiner #crossplm{
width:650px;
margin:50px auto 0;
text-align:center;
}

#conteiner #crossplm .IPhoneIPad{
width:100%;
padding:15px;
border-radius:10px 10px 10px 10px;
}

#conteiner #crossplm .IPhoneIPad:hover{
background-color:#2185c4;
cursor:pointer;
color:#ffffff;
}

#conteiner #crossplm .IPhoneIPad:hover > div span{
background-color:#2185c4;
cursor:pointer;
color:#ffffff;
}

#conteiner #crossplm .IPhoneIPad div div:last-child span{
display:block;
margin-top:10px;
font-size:170%;
color:#737373;
}

#conteiner #crossplm .IPhoneIPad:hover > div div:last-child span{
color:#ffffff;
}

#conteiner #crossplm .IPhoneIPad div{
text-align:center;
}

#conteiner #WhyCommT{
padding-top:100px;
width:800px;
margin:0 auto;
text-align:center;
}

#conteiner #WhyCommT div {
text-align:center;
}

#conteiner #WhyCommT div span {
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
color:#757575;
font-size:160%;
}

#conteiner #WhuComm{
width:800px;
margin:20px auto 0;
}

#conteiner #WhuComm .android{
margin-top:30px;
width:30%;
float:left;
}

#conteiner #WhuComm .android div div:last-child span{
color:#757575;
text-align:center;
}

#conteiner #WhuComm .android  div div:nth-child(2) span{
font-size:200%;
color:#757575;
}

#conteiner #WhuComm .android div div{
padding-top:10px;
}

#conteiner #WhuComm .android div div:last-child {
padding-bottom:10px;
}

#conteiner #WhuComm .android > div{
border:#d8d8d8 1px solid; 
border-radius:5px 5px 5px 5px;	
text-align:center;
}

#conteiner #WhuComm .IPhoneIPad{
margin-top:30px;
margin-left:40px;
width:30%;
float:left;
}

#conteiner #WhuComm .IPhoneIPad div div{
padding-top:10px;
}

#conteiner #WhuComm .IPhoneIPad div div:last-child span{
color:#757575;
}

#conteiner #WhuComm .IPhoneIPad  div div:nth-child(2) span{
font-size:200%;
color:#757575;
}

#conteiner #WhuComm .IPhoneIPad > div{
border:#d8d8d8 1px solid; 
border-radius:5px 5px 5px 5px;	
text-align:center;
}

#conteiner #WhuComm .IPhoneIPad div div:last-child {
padding-bottom:10px;
}

#conteiner #WhuComm .WindowsPhone{
margin-top:30px;
width:30%;
float:right;
}

#conteiner #WhuComm .WindowsPhone div div{
padding-top:10px;
}

#conteiner #WhuComm .WindowsPhone > div{
border:#d8d8d8 1px solid; 
border-radius:5px 5px 5px 5px;
}

#conteiner #WhuComm .WindowsPhone div div:first-child{
text-align:center;
}

#conteiner #WhuComm .WindowsPhone div div:last-child {
text-align:center;
padding-bottom:10px;
}

#conteiner #WhuComm .WindowsPhone div div {
text-align:center;
}

#conteiner #WhuComm .WindowsPhone div div:nth-child(2) span{
font-size:200%;
color:#757575;
}

#conteiner #WhuComm .WindowsPhone div div:last-child span{
color:#757575;
}


#conteiner #rasporka{
	width:100%;
	height:200px;	
} 

/*контент*/




/*footer*/

footer{
height:100px;
margin-top:-128px;
clear:both;
width:100%;
}

footer #footer{
width:800px;
clear:both;
text-align:center;
margin:0 auto;
}

footer #footer .rubrics{
text-align:center;
margin:0 auto;
text-align:center;
width:700px;
margin-left:95px;
}

footer #footer .mobileApps{
float:left;
margin-right:110px;
margin-left:60px;
}

footer #footer .DesktopApps{
float:left;

}

footer #footer .About{
float:left;
margin-left:100px;
}

footer #footer .mobileApps span a{
text-decoration:none;
display:block;
text-align:left;
margin-bottom:5px;
color:#a8a8a8;
}

footer #footer .mobileApps span:first-child a{
text-decoration:none;
font-weight:bold;
color:#362f1f;
margin-bottom:10px;
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

footer #footer .mobileApps span:last-child a{
text-decoration:none;
color:#318ec9;
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

footer #footer .DesktopApps span a{
text-decoration:none;
display:block;
text-align:left;
margin-bottom:5px;
color:#a8a8a8;
}

footer #footer .DesktopApps span:first-child  a{
text-decoration:none;
font-weight:bold;
color:#362f1f;
margin-bottom:10px;
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

footer #footer .About span a{
display:block;
text-align:left;
margin-bottom:5px;
color:#a8a8a8;
text-decoration:none;
}

footer #footer .About span:first-child  a{
text-decoration:none;
font-weight:bold;
color:#362f1f;
margin-bottom:10px;
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

footer #footer .About span:last-child   a{
text-decoration:none;
color:#318ec9;
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

/*footer*/


@media screen and  (max-width: 1030px) {
	
#conteiner header {
width:100%;
}	
	
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:1020px;
height:51px;
}

#conteiner header .wrapper nav ul{
margin-top:18px;
margin-left:-6px;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:230%;
margin-top:1px;
margin-right:20px;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-top:18px;
margin-right:53px;
display:block;
float:right;
text-decoration:none;
color:#2185c4;
font-size:102%;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}
/*шапка сайта*/

/*kontent*/

#conteiner #crossplatform{
width:940px;
margin:50px auto 0;
text-align:center;
}

#conteiner #crossplatform .android{
float:left;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
padding:10px 10px;
}

#conteiner #crossplatform .android div span{
text-align:center;
margin-top:10px;
color:#757575;
font-size:150%;
display:block;
}

#conteiner #crossplatform a .IPhoneIPad{
float:left;
padding:10px 12px 10px 5px;
margin-left:25px;
border-radius:10px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
}

#conteiner #crossplatform a .IPhoneIPad div img{
width:265px;
}

#conteiner #crossplatform .android div img{
width:280px;
}

#conteiner #crossplatform .WindowsPhone div img{
width:280px;
}


#conteiner #crossplatform a .IPhoneIPad div img{
margin-left:5px;
}

#conteiner #crossplatform .WindowsPhone{
float:right;
padding:10px 10px;
border-radius:10px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
}

#conteiner #crossplatform .WindowsPhone div:last-child span{
color:#757575;
font-size:150%;
display:block;
margin-top:10px;
text-align:center;
}

/*kontent*/

}


@media screen and  (max-width: 775px) {
	
#conteiner header {
  width:100%;
}	

#conteiner #communities{
padding-top:100px;
width:700px;
margin:0 auto;
text-align:center;
}
	
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:700px;
height:51px;
}

#conteiner #platform{
padding-top:50px;
width:700px;
margin:0 auto;
text-align:center;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:230%;
margin-top:1px;
margin-right:0px;
}

/*шапка сайта*/

/*kontent*/

#conteiner #crossplatform{
width:300px;
margin:50px auto 0;
text-align:center;
}


#conteiner #crossplatform a .IPhoneIPad{
padding:10px 12px 10px 5px;
border-radius:10px;
margin-left:0px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
}

#conteiner #crossplatform a .IPhoneIPad div img{
width:280px;
}

#conteiner #crossplatform .android div img{
width:280px;
}

#conteiner #crossplatform .WindowsPhone div img{
width:280px;
}

#conteiner #crossplatform .IPhoneIPad{
float:none;
}

#conteiner #crossplm{
width:470px;
margin:50px auto 0;
text-align:center;
}


#conteiner #crossplm .IPhoneIPad div div img{
 height:220px;
}

#conteiner #WhyCommT{
padding-top:100px;
width:650px;
margin:0 auto;
text-align:center;
}

#conteiner #WhuComm{
width:550px;
margin:20px auto 0;
}

#conteiner #WhuComm .android{
margin-top:30px;
width:250px;
float:left;
}

#conteiner #WhuComm .IPhoneIPad{
margin-left:0px;
margin-top:30px;
width:250px;
float:left;
}

#conteiner #WhuComm .IPhoneIPadIE{
margin-left:50px;
width:250px;
float:left;
}

#conteiner #WhuComm .WindowsPhone{
margin-top:30px;
width:250px;
float:right;
}
/*kontent*/


/*footer*/

footer{
height:100px;
margin-top:-128px;
clear:both;
width:100%;

}

footer #footer{
width:500px;
clear:both;
text-align:center;
margin:0 auto;
}

footer #footer .rubrics{
text-align:center;
margin:0 auto;
text-align:center;
width:500px;
margin-left:0px;
}

footer #footer .mobileApps{
float:left;
margin-right:0px;
margin-left:10px;
}

footer #footer .DesktopApps{
float:left;
margin-left:110px;
}

footer #footer .About{
float:left;
margin-left:110px;
}
/*footer*/
}

/*iPhone 6 Plump landscape*/
@media screen and  (max-width: 740px) {
 	

#conteiner #communities{
padding-top:100px;
width:700px;
margin:0 auto;
text-align:center;
}
	
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:700px;
height:51px;
}

#conteiner #platform{
padding-top:50px;
width:700px;
margin:0 auto;
text-align:center;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:230%;
margin-top:1px;
margin-right:0px;
}

/*шапка сайта*/

/*kontent*/

#conteiner #crossplatform{
width:300px;
margin:50px auto 0;
text-align:center;
}


#conteiner #crossplatform a .IPhoneIPad{
padding:10px 12px 10px 5px;
border-radius:10px;
margin-left:0px;
-moz-border-radius: 10px; /* Firefox */
-webkit-border-radius: 10px; /* Safari, Chrome */
border-radius: 10px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
}

#conteiner #crossplatform a .IPhoneIPad div img{
width:280px;
}

#conteiner #crossplatform .android div img{
width:280px;
}

#conteiner #crossplatform .WindowsPhone div img{
width:280px;
}

#conteiner #crossplatform .IPhoneIPad{
float:none;
}

#conteiner #crossplm{
width:470px;
margin:50px auto 0;
text-align:center;
}


#conteiner #crossplm .IPhoneIPad div div img{
 height:220px;
}

#conteiner #WhyCommT{
padding-top:100px;
width:650px;
margin:0 auto;
text-align:center;

}

#conteiner #WhuComm{
width:550px;
margin:20px auto 0;
}

#conteiner #WhuComm .android{
margin-top:30px;
width:250px;
float:left;
}

#conteiner #WhuComm .IPhoneIPad{
margin-left:0px;
margin-top:30px;
width:250px;
float:left;
}

#conteiner #WhuComm .IPhoneIPadIE{
margin-left:50px;
width:250px;
float:left;
}

#conteiner #WhuComm .WindowsPhone{
margin-top:30px;
width:250px;
float:right;
}
/*kontent*/


/*footer*/

footer{
height:100px;
margin-top:-128px;
clear:both;
width:100%;

}

footer #footer{
width:500px;
clear:both;
text-align:center;
margin:0 auto;
}

footer #footer .rubrics{
text-align:center;
margin:0 auto;
text-align:center;
width:500px;
margin-left:0px;
}

footer #footer .mobileApps{
float:left;
margin-right:0px;
margin-left:10px;
}

footer #footer .DesktopApps{
float:left;
margin-left:110px;
}

footer #footer .About{
float:left;
margin-left:110px;
}
/*footer*/

}

/*iPhone 6 landscape*/
@media screen and  (max-width: 675px) {

#conteiner #communities{
padding-top:100px;
width:600px;
margin:0 auto;
text-align:center;
}
 
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:620px;
height:51px;
}

#conteiner header .wrapper nav{
margin:0px;
float:left;
width:30%;
}

#conteiner header .wrapper nav ul{
margin-top:18px;
margin-left:0px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:left;
color:#2185c4;
}

#conteiner header .wrapper nav ul li:last-child{
padding-left:10px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
font-size:103%;
display:block;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* Гарнитура шрифта */
 src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* Гарнитура шрифта */
 src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .comm{
float:left;
width:39%;
text-align:center;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:200%;
margin-top:1px;
}

#conteiner header .wrapper .telegram{
float:right;
width:27%;
height:70px;
}

#conteiner header .wrapper .telegram div{
float:right;
}

#conteiner header .wrapper .telegram div a:last-child{
display:block;
float:right;
margin-top:10px;
margin-right:10px;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-right:40px;
}
/*шапка сайта*/

#conteiner #platform{
padding-top:50px;
width:610px;
margin:0 auto;
text-align:center;
}

#conteiner #crossplm{
width:500px;
margin:50px auto 0;
text-align:center;
}

#conteiner #WhyCommT{
padding-top:100px;
width:610px;
margin:0 auto;
text-align:center;
}

#conteiner #crossplm .IPhoneIPad{
width:100%;
padding:10px 5px 5px 5px;
border-radius:10px 10px 10px 10px;
}

#conteiner #WhyCommT{
padding-top:100px;
width:610px;
margin:0 auto;
text-align:center;
}

}

/*iPhone 5 landscape*/
@media screen and  (max-width: 573px) {
 
#conteiner #communities{
padding-top:100px;
width:320px;
margin:0 auto;
text-align:center;
}
 
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:550px;
height:51px;
}

#conteiner header .wrapper nav{
margin:0px;
float:left;
width:30%;
}

#conteiner header .wrapper nav ul{
margin-top:18px;
margin-left:0px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:left;
color:#2185c4;
}

#conteiner header .wrapper nav ul li:last-child{
padding-left:5px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
font-size:90%;
display:block;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* Гарнитура шрифта */
 src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* Гарнитура шрифта */
 src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .comm{
float:left;
width:40%;
text-align:center;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:200%;
margin-top:1px;
}

#conteiner header .wrapper .telegram{
float:right;
width:27%;
height:70px;
}

#conteiner header .wrapper .telegram div{
float:right;
}

#conteiner header .wrapper .telegram div a:last-child{
display:block;
float:right;
margin-top:10px;
margin-right:10px;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-right:40px;
}
/*шапка сайта*/


#conteiner #platform{
padding-top:50px;
width:300px;
margin:0 auto;
text-align:center;
}

#conteiner #crossplm{
width:400px;
margin:50px auto 0;
text-align:center;
}

#conteiner #WhyCommT{
padding-top:100px;
width:610px;
margin:0 auto;
text-align:center;
}

#conteiner #crossplm .IPhoneIPad{
width:100%;
padding:10px 5px 5px 5px;
border-radius:10px 10px 10px 10px;
}

#conteiner #crossplm .IPhoneIPad div div:first-child img{
height:180px;
}

#conteiner #WhyCommT{
padding-top:100px;
width:250px;
margin:0 auto;
text-align:center;
}

#conteiner #WhuComm{
width:250px;
margin:20px auto 0;
}

#conteiner #WhuComm .android{
margin-top:30px;
width:250px;
float:none;
}

#conteiner #WhuComm .IPhoneIPad{
margin-left:0px;
margin-top:30px;
width:250px;
float:none;
}

#conteiner #WhuComm .IPhoneIPadIE{
margin-left:0px;
width:250px;
float:none;
}

#conteiner #WhuComm .WindowsPhone{
margin-top:30px;
width:250px;
float:none;
}
/*kontent*/

}

/*iPhone 6 Plump portrait*/

@media screen and  (max-width: 414px) {
 
#conteiner #communities{
padding-top:250px;
width:320px;
margin:0 auto;
text-align:center;
}

#conteiner header {
  display: block;
  border-bottom:#cacaca 1px solid;
  box-shadow: 0px 0px 1px 0px #cacaca;
  width:100%;
  position:fixed;
  height:140px;
  background-color:#ffffff;
}
 
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:100%;
height:130px;
margin:0px;
}

#conteiner header .wrapper nav{
margin:0px;
float:none;
width:150px;
height:20px;
text-align:center;
margin:0 auto;
}

#conteiner header .wrapper nav ul{
margin-top:20px;
margin-left:0px;
padding:0px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:none;
color:#2185c4;
text-align:center;
}

#conteiner header .wrapper nav ul li:first-child{
margin-top:0px;
margin-right:90px;
}

#conteiner header .wrapper nav ul li:last-child{
padding-left:0px;
text-align:center;
float:none;
margin-top:-18px;
margin-left:60px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
font-size:90%;
display:block;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* Гарнитура шрифта */
 src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
 
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* Гарнитура шрифта */
 src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .comm{
float:none;
width:150px;
text-align:center;
margin:0 auto;
height:50px;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:200%;
margin-top:1px;
}

#conteiner header .wrapper .telegram{
float:none;
width:150px;
height:50px;
text-align:center;
margin:0 auto;
}

#conteiner header .wrapper .telegram div{
float:none;
text-align:center;
}

#conteiner header .wrapper .telegram div a:last-child{
display:block;
margin-top:-26px;
margin-right:70px;
text-align:center;
float:none;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-top:10px;
margin-right:0px;
margin-left:40px;
text-align:center;
float:none;
}
/*шапка сайта*/

#conteiner #crossplm .IPhoneIPad{
width:100%;
padding:10px 5px 5px 5px;
border-radius:10px 10px 10px 10px;
}

#conteiner #crossplm{
	width:370px;
}

#conteiner #crossplm .IPhoneIPad div div:first-child img{
height:150px;
}

#conteiner #crossplatform{
width:220px;
margin:50px auto 0;
text-align:center;
}

#conteiner #crossplatform a .IPhoneIPad div img{
width:200px;
}

#conteiner #crossplatform .android div img{
width:200px;
}

#conteiner #crossplatform .WindowsPhone div img{
width:200px;
}

#conteiner #crossplatform .IPhoneIPad{
float:none;
}


/*footer*/

footer{
height:100px;
margin-top:-128px;
clear:both;
width:100%;
}

footer #footer{
width:380px;
clear:both;
text-align:center;
margin:0 auto;
}

footer #footer .rubrics{

text-align:center;
margin:0 auto;
text-align:center;
width:380px;
margin-left:0px;
}

footer #footer .mobileApps{
float:left;
margin-right:0px;
margin-left:20px;
}

footer #footer .DesktopApps{
float:left;
margin-left:10%;
}

footer #footer .About{
float:left;
margin-left:10%;
}
/*footer*/

}


@media screen and  (max-width: 375px) {
 
#conteiner #communities{
padding-top:250px;
width:320px;
margin:0 auto;
text-align:center;
}

#conteiner header {
  display: block;
  border-bottom:#cacaca 1px solid;
  box-shadow: 0px 0px 1px 0px #cacaca;
  width:100%;
  position:fixed;
  height:140px;
  background-color:#ffffff;
}
 
#conteiner header .wrapper{
margin:0 auto;
text-align:center;
width:100%;
height:130px;
margin:0px;
}

#conteiner header .wrapper nav{
margin:0px;
float:none;
width:150px;
height:20px;
text-align:center;
margin:0 auto;
}

#conteiner header .wrapper nav ul{
margin-top:20px;
margin-left:0px;
padding:0px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:none;
color:#2185c4;
text-align:center;
}

#conteiner header .wrapper nav ul li:first-child{
margin-top:0px;
margin-right:90px;
}

#conteiner header .wrapper nav ul li:last-child{
padding-left:0px;
text-align:center;
float:none;
margin-top:-18px;
margin-left:60px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
font-size:90%;
display:block;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* Гарнитура шрифта */
 src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
 
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* Гарнитура шрифта */
 src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .comm{
float:none;
width:150px;
text-align:center;
margin:0 auto;
height:50px;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:200%;
margin-top:1px;
}

#conteiner header .wrapper .telegram{
float:none;
width:150px;
height:50px;
text-align:center;
margin:0 auto;
}

#conteiner header .wrapper .telegram div{
float:none;
text-align:center;
}

#conteiner header .wrapper .telegram div a:last-child{
display:block;
margin-top:-26px;
margin-right:70px;
text-align:center;
float:none;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-top:10px;
margin-right:0px;
margin-left:40px;
text-align:center;
float:none;
}
/*шапка сайта*/

#conteiner #crossplatform a .IPhoneIPad div div span{
color:#2185c4;
font-size:110%;
display:block;
margin-top:10px;
}

#conteiner #crossplatform .android div div span{
text-align:center;
margin-top:10px;
color:#757575;
font-size:110%;
display:block;
}

#conteiner #crossplatform .WindowsPhone div div:last-child span{
color:#757575;
font-size:110%;
display:block;
margin-top:10px;
text-align:center;
}

#conteiner #crossplm .IPhoneIPad div div:last-child span{
display:block;
margin-top:10px;
font-size:115%;
color:#737373;
}

#conteiner #crossplm .IPhoneIPad{
width:100%;
padding:10px 5px 5px 5px;
border-radius:10px 10px 10px 10px;
}

#conteiner #crossplm{
width:260px;
}

#conteiner #crossplm .IPhoneIPad div div:first-child img{
height:110px;
}

#conteiner #crossplatform{
width:170px;
margin:50px auto 0;
text-align:center;
}

#conteiner #platform div span {
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
color:#000000;
font-size:140%;
}

#conteiner #communities div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:140%;
}

#conteiner #crossplatform a .IPhoneIPad div img{
width:150px;
}

#conteiner #crossplatform .android div img{
width:150px;
}

#conteiner #crossplatform .WindowsPhone div img{
width:150px;
}

#conteiner #crossplatform .IPhoneIPad{
float:none;
}

#conteiner #WhuComm .android{
margin-top:30px;
width:200px;
float:none;
}

#conteiner #WhuComm .IPhoneIPad{
margin-left:0px;
margin-top:30px;
width:200px;
float:none;
}

#conteiner #WhuComm .IPhoneIPadIE{
margin-left:0px;
width:200px;
float:none;
}

#conteiner #WhuComm .WindowsPhone{
width:200px;
}

#conteiner #WhuComm{
width:200px;
margin:20px auto 0;
text-align:center;
}

#conteiner #WhuComm .android div div img{
width:150px;
}

#conteiner #WhuComm .IPhoneIPad div div img{
width:150px;
}

#conteiner #WhuComm .IPhoneIPadIE div div img{
width:150px;
}

#conteiner #WhuComm .WindowsPhone div div img{
width:150px;
}
/*kontent*/

/*footer*/

footer{
height:100px;
margin-top:-128px;
clear:both;
width:100%;
}

footer #footer{
width:290px;
clear:both;
text-align:center;
margin:0 auto;
}

footer #footer .rubrics{
text-align:center;
margin:0 auto;
text-align:center;
width:290px;
margin-left:0px;
}

footer #footer .mobileApps{
float:left;
margin-right:0px;
margin-left:0px;
font-size:85%;
}

footer #footer .DesktopApps{
float:left;
margin-left:10%;
font-size:85%;
}

footer #footer .About{
float:left;
margin-left:10%;
font-size:85%;
}
/*footer*/

}