html, body {
margin:0px;
padding:0px;
height: 100%;
font-family:Arial, Helvetica, sans-serif, "Times New Roman";
width:100%;
}

.clear{width:100%;
	clear:both;}

@font-face {
    font-family: LatoLight; /* ????????? ?????? */
    src: url(../fonts/LatoLight.ttf); /* ???? ? ????? ?? ??????? */
   }
   
@font-face {
    font-family: latoRegular; /* ????????? ?????? */
    src: url(../fonts/latoRegular.ttf); /* ???? ? ????? ?? ??????? */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* ????????? ?????? */
    src: url(../fonts/Comfortaa-Bold.ttf); /* ???? ? ????? ?? ??????? */
   }
   
#conteiner{
margin:0px;
width:100%;
height: 100%; border:solid blue 1px;
}

#conteiner #leftPanel{
float:left;
height: 100%;
width:5%;
min-width:70px;
border: solid red 1px;
}

#conteiner #leftPanel nav .logo a img{
width:100%;
height:10%;
}

#conteiner #leftPanel nav .icon div a img{
width:30%;
height:20px;
}

#conteiner #leftPanel nav{
height: 100%;
}

#conteiner #leftPanel nav .icon div img{
padding:30% 0px 0px 35%;
}

#conteiner #leftPanel nav .icon div a img{
width:30%;
height:18%;
}

#conteiner #leftPanel #nizpanel div img{
 padding:30% 0px 0px 35%;
}

#conteiner #leftPanel #nizpanel div a img{
width:30%;
height:18%;
}

#conteiner #content{
width:94%;
float:left;
height: 100%;
}

#conteiner #content header{
height:10.2%;
border:solid green 1px;
}

#conteiner #content header .left{
float:left;
width:94%;
margin-top:12px;
}

#conteiner #content header .left .letblock .socSeti{
text-align:center;
float:left;
width:90%;
border:solid red 1px;
}

#conteiner #content header .left .letblock .socSeti div a img{
width:70%;
}

#conteiner #content header .left .letblock .AntonBubas{
float:right;
width:9%;
border:solid green 1px;
}

#conteiner #content header .left .letblock .AntonBubas span span:first-child a{
font-family: latoRegular; /* ????????? ?????? */
src: url(../fonts/latoRegular.ttf); /* ???? ? ????? ?? ??????? */
color: #567;
font-size: 18px;
font-weight: 400;
text-decoration:none;
text-align:right;
}

#conteiner #content header .left .letblock .AntonBubas span span:last-child a{
font-family: latoRegular; /* ????????? ?????? */
src: url(../fonts/latoRegular.ttf); /* ???? ? ????? ?? ??????? */
width: 71px;
height: 19px;
color: #8ca0b3;
font-size: 14px;
font-weight: 400;
text-decoration:none;
text-align:right;
}

#conteiner #content header .left .socSeti div{
display:inline-block;
padding:0px 0px 0px 20px;
}

#conteiner #content header .avatar{
float:right;
width:5%;
}

#conteiner #content header .avatar img{
width:100%;
min-width:70px;
}