 body, html {
margin:0px;
padding:0px;
height: 100%;
font-family:Arial, Helvetica, sans-serif, "Times New Roman";
 width:100%;
 overflow-x:hidden;
}



.clear{width:100%;
	clear:both;}

@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }

* html #conteiner{
width:100%;
height: 100%;
}

#conteiner {width:100%;
min-height: 100%;
background-color: #ecf3f8;
}


/*шапка сайта*/


#conteiner #CommHub div{
text-align:center;
}

#conteiner #CommHub div span{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
/* Text style for "CommHub" */
width: 185px;
height: 45px;
color: white;
font-size: 36px;
font-weight: 700;
}


/*шапка сайта*/


/*контент*/

#conteiner #general{
width:100%;
margin:0 auto 0;
padding-top:100px;
text-align:center;
}

#conteiner #statistica{
padding-top:20px;
width:100%;
margin:0 auto;
text-align:center;
}

#conteiner #statistica div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
width: 419px;
height: 34px;
color: #567;
font-size: 25px;
font-weight: 800;
}

#conteiner #statistica div span span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: #2a5884;
font-size:150%;
font-weight:bold;
width: 239px;
height: 25px;
color: #2b5a85;
font-size: 21px;
font-weight: 400;
text-align:center;
}

#conteiner #communities{
text-align:center;
}

#conteiner #Mac{
text-align:center;
margin:20px auto 0;
width:298px;
}

#conteiner #Mac input[type="submit"]:first-child{
color: #23578a;
font-size: 15px;
font-weight: 400;
width: 139px;
height: 25px;
background-color: white;
border-radius: 1px;
box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.2);
cursor:pointer;
float:left;
}

#conteiner #Mac input[type="submit"]{
color: #23578a;
font-size: 15px;
font-weight: 400;
width: 139px;
height: 25px;
background-color: white;
border-radius: 1px;
box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.2);
cursor:pointer;
float:right;
}

#conteiner #comm{
text-align:center;
padding-top:100px;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: white;
width: 427px;
height: 54px;
color: white;
font-size:150%;
font-weight:bold;
margin:0 auto;
}

#conteiner #polzovanie{
text-align:center;
margin:50px auto 0;
width:70%;
}

#conteiner #polzovanie .content div:nth-child(odd){
margin-top:130px;
width: 100%;
color: #2b5a85;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
font-size: 30px;
font-weight: 700;
float:left;
text-align:left;
}

#conteiner #polzovanie .content div:nth-child(odd) span{
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: #2a5884;
font-size:150%;
font-weight:bold;
width: 239px;
height: 25px;
color: #2b5a85;
font-size: 21px;
font-weight: 400;
}

#conteiner #polzovanie .content div:nth-child(even){
width: 100%;
color: #2b5a85;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
font-size: 30px;
font-weight: 700;
float:right;
margin-top:130px;
}

#conteiner #polzovanie .content div:nth-child(even) div{
width: 430px;
float:right;	
text-align:left;
margin:0px;
}

#conteiner #polzovanie .content div div span{
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: #2a5884;
font-size:150%;
width: 239px;
height: 25px;
color: #2b5a85;
font-size: 21px;
font-weight: 400;
text-align:left;
}

#conteiner #download{
width:100%;
margin:100px auto 0;
text-align:center;

}

#conteiner #download div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: white;
width: 427px;
height: 54px;
color: #2a5884;
font-size: 28px;
font-weight: 800;
}

#conteiner #download div span span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: #2a5884;
font-size:150%;
font-weight:bold;
width: 239px;
height: 25px;
color: #2b5a85;
font-size: 21px;
font-weight: 400;
text-align:center;
}

#conteiner .center{
text-align:center;
margin-top:40px;}

#conteiner .center div input[type="text"]{
width: 296px;
background-color: white;
text-align:center;
border-radius: 2px;
color: #8ca0b3;
font-size: 25px;
font-weight: 400;
letter-spacing: -0.25px;
line-height: 34px;}
/*контент*/






