 body, html {
margin:0px;
padding:0px;
height: 100%;
font-family:Arial, Helvetica, sans-serif, "Times New Roman";
width:100%;
overflow-x:hidden;

}



.clear{width:100%;
	clear:both;}

@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }

* html #conteiner{
width:100%;
height: 100%;
box-shadow: 0 9px 4px rgba(118, 151, 178, 0.69);
}

#conteiner {width:100%;
min-height: 100%;
background-color: #ecf3f8;
}


/*шапка сайта*/


#conteiner #CommHub div{
text-align:center;
}

#conteiner #CommHub div span{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
/* Text style for "CommHub" */
width: 185px;
height: 45px;
color: white;
font-size: 36px;
font-weight: 700;
}


/*шапка сайта*/


/*контент*/

#conteiner #general{
width:100%;
margin:0 auto 0;
padding-top:30px;
text-align:center;
}

#conteiner #statistica{
padding-top:20px;
width:100%;
margin:0 auto;
text-align:center;
}

#conteiner #statistica div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
width: 419px;
height: 34px;
color: #567;
font-size: 25px;
font-weight: 800;
}

#conteiner #statistica div span span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color: #2a5884;
font-size:150%;
font-weight:bold;
width: 239px;
height: 25px;
color: #2b5a85;
font-size: 21px;
font-weight: 400;
text-align:center;
}

#conteiner #communities{
text-align:center;
}

#conteiner #Mac{
text-align:center;
margin:50px auto 0;
width:357px;
}

#conteiner #Mac input[type="text"]:nth-child(2){
margin-top:35px;
padding-left:5px;
width:350px;
height: 25px;
background-color: white;
border:solid #23578a 1px;
}

#conteiner #Mac input[type="text"]{
margin-top:15px;
padding-left:5px;
width:350px;
height: 25px;
background-color: white;
border:solid #23578a 1px;
}

#conteiner #Mac input[type="submit"]:nth-child(6){
margin-top:15px;
margin-left:10px;
color: #23578a;
font-size: 15px;
font-weight: 400;
width: 150px;
height: 25px;
background-color: white;
border-radius: 1px;
box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.2);
cursor:pointer;
float:left;
}

#conteiner #Mac input[type="submit"]{
margin-right:10px;
margin-top:15px;
color: #23578a;
font-size: 15px;
font-weight: 400;
width: 150px;
height: 25px;
background-color: white;
border-radius: 1px;
box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.2);
cursor:pointer;
float:right;
}


#conteiner #Mac .krug{
width:100px;
height:100px;
border-radius:50px;
background-color:#ffffff;
text-align:center;
margin:0 auto;
}
/*контент*/






