html,body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	height:100%;
}

#conteiner{
width:100%;
height:100%;
}

#conteiner header {
  display: block;
  border-bottom:#cacaca 1px solid;
  box-shadow: 0px 0px 1px 0px #cacaca;
  width:100%;
  position:fixed;
  height:53px;
  background-color:#ffffff;
}


@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }
   
  

.clear{clear:both;}

/*????? ?????*/

#conteiner header .wrapper{
margin:0 auto;
width:1050px;
height:51px;
}

#conteiner header .wrapper nav{
margin:0px;
float:left;
width:30%;
}

#conteiner header .wrapper nav ul{
margin-top:18px;
margin-left:-42px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:left;
color:#2185c4;
}

#conteiner header .wrapper nav ul li:last-child{
padding-left:30px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
font-size:103%;
display:block;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* ????????? ?????? */
 src: url(../fonts/latoRegular.ttf); /* ???? ? ????? ?? ??????? */
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* ????????? ?????? */
 src: url(../fonts/LatoLight.ttf); /* ???? ? ????? ?? ??????? */
}

#conteiner header .wrapper .comm{
float:left;
width:39%;
text-align:center;
}

#conteiner header .wrapper .comm div{
font-family: Comfortaa-Bold; /* ????????? ?????? */
src: url(../fonts/Comfortaa-Bold.ttf); /* ???? ? ????? ?? ??????? */
color:#2185c4;
font-size:230%;
margin-top:1px;
}

#conteiner header .wrapper .telegram{
float:right;
width:30%;
height:70px;
}

#conteiner header .wrapper .telegram div{
float:right;
}

#conteiner header .wrapper .telegram div a:last-child{
display:block;
float:right;
margin-top:10px;
margin-right:10px;
}

#conteiner header .wrapper .telegram div a:first-child{
margin-top:18px;
display:block;
float:right;
text-decoration:none;
color:#2185c4;
font-size:102%;
font-family: LatoLight; /* ????????? ?????? */
src: url(../fonts/LatoLight.ttf); /* ???? ? ????? ?? ??????? */
}

#conteiner header .wrapper .telegram div a:last-child:hover{
text-decoration:underline;
}
/*????? ?????*/



/*comm*/
#conteiner #wrapper{
padding-top:100px;
width:782px;
margin:0 auto;
}

#conteiner #wrapper .comm{
padding-bottom:10px;
width:200px;
}

#conteiner #wrapper .comm img{
padding-bottom:10px;
}

#conteiner #wrapper .iPhone{

}

#conteiner #wrapper .iPhone ul{
margin:0px;
padding:0px;
width:200px;
}

#conteiner #wrapper .iPhone ul li{
list-style:none;
padding-top:5px;
}

#conteiner #wrapper .iPhone ul li:first-child{
color:#2889c6;
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
width:155px;
text-align:center;
font-size:100%;
}

#conteiner #wrapper .iPhone ul li a{
text-decoration:none;
}

#conteiner #wrapper .iPhone ul li a{
font-size:100%;
padding:5px 10px;
display:block;
background-color:#ffffff;
color:#2889c6;
border:#2185c4 solid 1px;
-moz-border-radius:7px; /* Firefox */
-webkit-border-radius:7px; /* Safari, Chrome */
border-radius:7px; /* CSS3 */
behavior: url(PIE.htc); /* IE < 9 */
width:130px;
text-align:center;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner #wrapper .iPhone ul li a:hover{
color:#ffffff;
background-color:0071b0;
}

#conteiner #wrapper #leftblock{
float:left;
width:152px;
}


#conteiner #wrapper .comm img{
width:150px;
height:150px;
}


#conteiner #wrapper #rightblock .iPhonetry .iPhoneiPad{
margin-left:40px;
float:left;
}



#conteiner #wrapper #rightblock .iPhoneinfo{
padding-top:10px;
padding-left:0px;
float:right;
color:#898989;
font-size:95%;
}

/*comm*/
