html,body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}

#conteiner header {
  display: block;
  border-bottom:#cacaca 1px solid ;
   box-shadow: 0px 0px 4px 1px #cacaca;
  width:100%;
  position:fixed;
  height:73px;
}

@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }
   
  

#conteiner header .clear{clear:both;}

#conteiner header #navigation nav{
float:left;
width:30%;
height:50px;
 }
 

#conteiner header #telegram {
width:30%;
float:right;
height:50px;
 }
 
#conteiner header #telegram span{
 position:relative;
 }
 
#conteiner header #telegram span a:first-child{
float:right;
margin-top:10px;
margin-right:250px;
}
 
 
#conteiner header #telegram span a:last-child{
margin-right:-115px;
float:right;
margin-top:18px;
text-decoration:none;
font-size:110%;
color:#2185c4;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header #telegram span a:last-child:hover{
color:#2185c4;
display:block;
text-decoration:underline;
}

#conteiner header #logo{
text-align:center;
width:40%;
float:left;
}

#conteiner header #logo div{

}

#conteiner header #logo span{
color:#2185c4;
font-weight:bold;
font-size:250%;
margin-top:5px;
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header #navigation nav ul {
margin-left:130px;
}

#conteiner header #navigation nav ul li{
font-size:110%;
float:left;
list-style:none;
margin-top:5px;
margin-left:27px;
}

#conteiner header #navigation nav ul li a:first-child{
font-family: LatoRegular; /* Гарнитура шрифта */
src: url(../fonts/LatoRegular.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
display:block;
text-decoration:none;
}

#conteiner header #navigation nav ul li a .last{
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
display:block;
text-decoration:none;
}

#conteiner header #navigation nav ul li a:hover{
color:#2185c4;
display:block;
text-decoration:underline;
}



 #communities{
 padding-top:100px;
width:100%
}

 #communities div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:160%;
}

#communities div {text-align:center;
}