html,body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	height:100%;
}

#conteiner{
width:100%;
height:100%;
}

#conteiner header {
  display: block;
  border-bottom:#cacaca 1px solid;
  box-shadow: 0px 0px 4px 1px #cacaca;
  width:100%;
  position:fixed;
  height:73px;
  background-color:#ffffff;
}


@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }
   
  

.clear{clear:both;}

/*шапка сайта*/

#conteiner header .wrapper{
margin:0 auto;
width:900px;
height:71px;
}

#conteiner header .wrapper nav{
float:left;
width:30%;
}

#conteiner header .wrapper nav ul{
margin-top:24px;
}

#conteiner header .wrapper nav ul li{
list-style:none;
float:left;
color:#2185c4;
margin-left:20px;
}

#conteiner header .wrapper nav ul li a span{
display:block;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a{
text-decoration:none;
}

#conteiner header .wrapper nav ul li a span:hover{
display:block;
text-decoration:underline;
color:#2185c4;
}

#conteiner header .wrapper nav ul li a:first-child{
 font-family: latoRegular; /* Гарнитура шрифта */
 src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper nav ul li .last{
 font-family: LatoLight; /* Гарнитура шрифта */
 src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

#conteiner header .wrapper .comm{
float:left;
width:39%;
text-align:center;
}

#conteiner header .wrapper .comm span{
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:250%;
}

#conteiner header .wrapper .telegram{
float:right;
width:30%;
height:70px;
}

#conteiner header .wrapper .telegram span{
position:reletive;
}

#conteiner header .wrapper .telegram span a:first-child{
position:absolute;
margin-top:12px;
margin-left:70px;
}

#conteiner header .wrapper .telegram span a:last-child{
position:absolute;
margin-top:24px;
margin-left:115px;
text-decoration:none;
color:#2185c4;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}
/*шапка сайта*/





/*communities*/
#conteiner #communities{
padding-top:100px;
width:900px;
margin:0 auto;
}
/*communities*/

#conteiner #communities div span {
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
font-size:160%;
}

#conteiner #communities div {
text-align:center;
}
/*communities*/


/*контент*/
#conteiner #crossplatform{
width:800px;
margin:222px auto 0;
}

#conteiner #crossplatform .android{
width:30%;
float:left;
}
#conteiner #crossplatform .android div span{
margin-left:60px;
color:#757575;
}


#conteiner #crossplatform .IPhoneIPad{
width:40%;
float:left;
}

#conteiner #crossplatform .IPhoneIPad div span{
color:#2185c4;
}

#conteiner #crossplatform .IPhoneIPad div{
text-align:center;
}

#conteiner #crossplatform .IPhoneIPad div img{
margin-left:5px;
}

#conteiner #crossplatform .WindowsPhone{
width:30%;
float:right;
}

#conteiner #crossplatform .WindowsPhone div > div{
text-align:right;
}

#conteiner #crossplatform .WindowsPhone div img{
text-align:left;
margin-right:45px;
}

#conteiner #crossplatform .WindowsPhone div:last-child span{
color:#757575;
}
/*контент*/

#conteiner #platform{
padding-top:50px;
width:900px;
margin:0 auto;
}

#conteiner #platform div span {
font-family: latoRegular; /* Гарнитура шрифта */
src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
color:#000000;
font-size:160%;
}

#conteiner #platform div {
text-align:center;
}

#conteiner #crossplm{
width:800px;
margin:50px auto 0;
}

#conteiner #crossplm .IPhoneIPad{
width:100%;
float:left;
}

#conteiner #crossplm .IPhoneIPad div span{
font-size:200%;
color:#737373;
}

#conteiner #crossplm .IPhoneIPad div{
text-align:center;
}

/*контент*/
#conteiner #WhuComm{
width:800px;
margin:100px auto 0;
}

#conteiner #WhuComm .android{
width:30%;
float:left;
}
#conteiner #WhuComm .android div div span{
color:#757575;
text-align:center;
}

#conteiner #WhuComm .android > div{
border:#d8d8d8 1px solid; 
border-radius:5px 5px 5px 5px;	
text-align:center;
}

#conteiner #WhuComm .IPhoneIPad{
width:40%;
float:left;
}

#conteiner #WhuComm .IPhoneIPad div span{
color:#2185c4;
}

#conteiner #WhuComm .IPhoneIPad > div{
border:#d8d8d8 1px solid; 
border-radius:5px 5px 5px 5px;	
text-align:center;
}

#conteiner #WhuComm .IPhoneIPad div img{

}

#conteiner #WhuComm .WindowsPhone{
width:30%;
float:right;
}

#conteiner #WhuComm .WindowsPhone > div{
border:#d8d8d8 1px solid; 
border-radius:5px 5px 5px 5px;
}

#conteiner #WhuComm .WindowsPhone div div:first-child{
text-align:center;
}

#conteiner #WhuComm .WindowsPhone div div:last-child {
text-align:center;
}

#conteiner #WhuComm .WindowsPhone div div {
text-align:center;

}

#conteiner #WhuComm .WindowsPhone div:last-child span{
color:#757575;
}
/*контент*/