html,body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}

header {
  display: block;
  border-bottom:#cacaca 1px solid ;
   box-shadow: 0px 0px 4px 1px #cacaca;
  width:100%;
  position:fixed;
  height:73px;
}

@font-face {
    font-family: LatoLight; /* Гарнитура шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: latoRegular; /* Гарнитура шрифта */
    src: url(../fonts/latoRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   
@font-face {
    font-family: Comfortaa-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
   }
   
  

header .clear{clear:both;}

header #navigation nav{
float:left;
width:44%;
margin:0px;
margin-top:10px;
 }
 

header #telegram {
width:23%;
float:right;
 }
 
 header #telegram span{
  position:reletive;
 }
 
 header #telegram span a{
position:absolute;
margin-top:15px;

}
 
 
header #telegram span a:last-child{
position:absolute;
margin-left:45px;
margin-top:25px;
text-decoration:none;
color:#2185c4;
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
}

header #telegram span a:last-child:hover{
color:#2185c4;
display:block;
text-decoration:underline;
}

header #logo{
float:left;
}

header #logo div{
position:relative;
}

header #logo span{
position:absolute;
color:#2185c4;
font-weight:bold;
font-size:250%;
margin-top:5px;
font-family: Comfortaa-Bold; /* Гарнитура шрифта */
src: url(../fonts/Comfortaa-Bold.ttf); /* Путь к файлу со шрифтом */
}

header #navigation nav ul {
margin-left:70px;
}

header #telegram nav ul {
margin-right:0px;
}


header #navigation nav ul li{
float:left;
list-style:none;
margin-left:27px;
}

header #navigation nav ul li a:first-child{
font-family: LatoRegular; /* Гарнитура шрифта */
src: url(../fonts/LatoRegular.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
display:block;
text-decoration:none;
}

header #navigation nav ul li a .last{
font-family: LatoLight; /* Гарнитура шрифта */
src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */
color:#2185c4;
display:block;
text-decoration:none;
}

 header #navigation nav ul li a:hover{
color:#2185c4;
display:block;
text-decoration:underline;
}